.shop {
  display: flex;
  height: 100%;


  &__sidebar{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 0 15px;
    border-right: 1px solid whitesmoke;
    flex: 0.4;

    ul {
      cursor: pointer;
      margin: 0 auto;
      border-bottom: 1px solid whitesmoke;
      list-style: none;
    }
  }

  &__main{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.2);

    &-header {
      flex-wrap: wrap;
      display: flex;
      border-bottom: 1px solid whitesmoke;
      padding: 5px 10px;
      width: 100%;
    }

    &-content {
      padding: 10px 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 0.3fr));
      grid-auto-rows: 20rem;
      grid-gap: 1rem;
    }
  }
}