
.list{
  background-color: whitesmoke;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  margin: 2px 0 ;
  padding: 10px 0 ;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &:hover {

    background-color: #a9a9a9;
    cursor: pointer;

    p {
      color: white;
    }
  }


    &__group {
      margin: 0;
      color: grey;
      cursor: pointer;
    }
}
.selected {
  background-color: green;
}