.device {
  display: flex;
  flex-direction: column;

  &_description{
    padding: 20px ;

    p {
      padding: 5px;
      border: 1px solid whitesmoke;
      font-weight: bold;
      color: gray;

      span {
        padding-left: 1rem;
        font-weight: bold;
      }
    }
  }

  &_header{
    display: flex;
    flex-direction: column;
    flex: 0.2;
    border-bottom: 1px solid whitesmoke;
    padding: 2rem 4rem ;

    &-cart {
      border: 1px solid whitesmoke;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex: 1;

      & > div {
        flex: 0.4;
        display: flex;
      }
    }

    &-container {
      display: flex;



        .price {
          padding:  0 5px;
          font-size: 3rem;
          color: gray;
        }
    }

    &-starContainer{
      margin-top: 2rem;
      display: flex;

      .rating_star{
        font-size: 18px;
        font-weight: bold;
        color: gray;
        margin-right: 1rem;
      }
    }

    &-name{
      text-align: center;
      color: gray;
      font-weight: bold;
    }

    &-star{
      img {
        object-fit: contain;
        height: 25rem;
        cursor: pointer;
      }



      img:hover{
        transform: scale(1.2);
        transition: 2s;
      }
    }


  }
}
.advertising {
  max-width: 40rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: contain;
    height: 9rem;
  }

  &_text {
    cursor: pointer;
    color: red;
    font-weight: bold;
  }

  &_button {
    padding: 0  4rem !important;
    display: flex;
    height: 3rem !important;
    background-color: whitesmoke !important;
  }
  &_button:hover {
    background-color: red !important;
  }
}

.price_container {
  padding-left: 7rem;
  align-self: flex-start;
}

.addToCart {
  margin-top: 4rem !important;
  padding: 20px !important;
  background-color: darkgreen !important;
  color: white !important;
}