.shop__item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  max-width: 15rem;
  margin: 0.5rem;
  padding: 1rem;
  border: 1px solid whitesmoke;

  &:hover {
    -webkit-box-shadow: 4px 14px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 14px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 14px 8px 0px rgba(0, 0, 0, 0.2)
  }

  &-header{
    max-width: 7rem;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
    top: 0;
    left: 0;
    color: gray;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-rating {
    z-index: 3;
    display: flex;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 0;
    color: gray;
  }

  &-img{
    padding: 1rem 0;
    object-fit: contain;
    height: 15rem;
    max-width: 13rem;
  }


  &-img:hover {
    z-index: 2;
    transform: scale(1.1);
    transition: 2s;
  }

  &-price{
    font-weight: bold;
  }

}

.MuiSvgIcon-root:hover {
  fill: #ff0000 !important;
}
.shop__item-rating:hover .star__container {
  display: flex !important;
}

.star__container {
  display: none;
  position: absolute;
  bottom: 20px;
  left: -40px;

}

