.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  cursor: pointer;
  width: 100px;
  margin: 5px 5px;

  &:hover {
    color: white;
    background-color: #a9a9a9;
    cursor: pointer;
  }
  
  
  p{
    padding: 10px;
    margin: 0;
  }
}