.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;

  &__left {
    display: flex;
    align-items: center;
  }

  img {
    object-fit: contain;
    height: 18px;
    margin-left: 5px;
    cursor: pointer;
  }

  &__left-logo {
    color: gray;
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
  }

  &__middle {
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;

    .MuiSvgIcon-root {
      color: gray;
    }

    input {
      width: 100%;
      padding: 10px;
      border: none;
      outline: none;
      font-size: medium;
      background-color: transparent;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
}
.header__right-avatar {
  cursor: pointer;
}

.admin__panel{
  margin: 0px 15px !important;
}